@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
}

.container {
    max-width: 60rem;
}

.app-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

.nav-link.active {
    color: #fff;
}
.nav-link.active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

.app-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}
.app-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.app-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .app-title {
        font-size: 3.5rem;
    }
}

.sidebar-module {
    padding: 1rem;
}
.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.app-pagination {
    margin-bottom: 4rem;
}
.app-pagination > .btn {
    border-radius: 2rem;
}

.app-post {
    margin-bottom: 4rem;
}
.app-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.app-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.app-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.app-footer p:last-child {
    margin-bottom: 0;
}

.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signup .form-signin-heading,
.form-signin .form-signup .checkbox, .form-signup .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control, .form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus, .form-signup .form-control:focus {
    z-index: 2;
}
.form-signin .form-signup input[type="email"], .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input:last-child, .form-signup input:last-child  {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-errors .form-error {
    color: #ff7663;
}
